@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.navbar-all-area {
  margin-bottom: 1em;
}

.login-area {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1.5em;
  margin-right: 1.5em;
  gap: 0.5em;
  font-family: "Pretendard-Regular";
  cursor: pointer;
}

.logo-area {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
  position: relative;
  height: 4em;
}

.menu-list {
  display: flex;
  list-style-type: none;
  cursor: pointer;
  margin: 0;
}

.mo-menu-list {
  list-style-type: none;
}

.menu-list li {
  margin: 1em;
}

.menu-list li:hover {
  border-bottom: 1px solid black;
}

.search-area {
  position: absolute;
  right: 1.5em;
  border-bottom: 1px solid black;
  padding: 0.5em;
}

.mo-search-area {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

input {
  border: 0;
  padding-left: 0.5em;
}

input:focus {
  outline: 0;
}

.main-banner-area {
  margin-bottom: 3em;
}

.main-banner-area img {
  width: 100vw;
}

.main-banner-text-area {
  position: absolute;
  top: 3.5em;
  left: 0.2em;
  font-family: "Pretendard-Regular";
  font-weight: 700;
  font-size: 10em;
}

.product-card-area {
  font-family: "Pretendard-Regular";
  margin: 1em;
}

.product-img-area {
  margin-bottom: 0.5em;
  cursor: pointer;
  width: 300px;
  object-fit: cover;
  overflow: hidden;
}

.product-img-area img {
  width: 100%;
  transition: transform 0.5s;
}

.product-img-area img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.new-icon {
  display: inline;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 0.8rem;
  margin-left: 0.2em;
}

.conscious-choice-icon {
  display: inline;
  background-color: rgb(14, 175, 135);
  color: white;
  font-size: 0.8rem;
  margin-left: 0.2em;
}

.footer-area {
  height: 200px;
  width: 100vw;
  background-color: rgb(247, 247, 247);
  margin-top: 2em;
  padding: 4em;
  text-align: center;
  font-size: 0.8rem;
}


.sns-icon-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 1em;
}

.footer-menu-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 2em;
  gap: 3em;
}

.login-page {
  padding: 2em;
  margin-top: 2em;
}

.login-title-area {
  font-family: "Pretendard-Regular";
  text-align: center;
}

.login-title-area h2 {
  font-weight: 700;
}

.login-container {
  font-family: "Pretendard-Regular";
  display: flex;
  justify-content: center;
  padding: 2em;
}

.mobile-menu {
  display: none;
}

.x-button {
  display: none;
}

@media screen and (max-width: 1200px) {
  .main-banner-text-area {
    position: absolute;
    top: 4em;
    left: 0.2em;
    font-family: "Pretendard-Regular";
    font-weight: 700;
    font-size: 8em;
  }
  .menu-area {
    display: none;
  }

  .mobile-menu {
    display: flex;
    gap: 1em;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
  }

  .mo-menu-area {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: all 0.5s;
  }

  .mo-menu-list {
    margin-top: 5em;
    font-family: "Pretendard-Regular";
    font-size: 1.2em;
  }

  .mo-menu-list li {
    padding-bottom: 1em;
  }

  .x-button {
    display: block;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    background-color: white;
    border: none;
  }

  .search-area {
    display: none;
  }
  .footer-menu-list {
    list-style-type: none;
    margin-bottom: 2em;
    gap: 1em;
}
}

@media screen and (max-width: 720px) {
  .main-banner-text-area {
    position: absolute;
    top: 4.5em;
    left: 0.2em;
    font-family: "Pretendard-Regular";
    font-weight: 700;
    font-size: 4em;
  }


}

/* ProductDetail Page */

.product-detail-img-area {
  display: flex;
  justify-content: end;
}

.product-detail-product-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: "Pretendard-Regular";
}

.product-detail-title {
  font-size: 2em;
}

.product-detail-size-area {
  margin-bottom: 0.5em;
  height: 80px;
}

.size-select {
  background-color: white;
  border: none;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0.3em;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 0.2em;
  color: rgb(148, 148, 148);
}

.size-select:hover {
  border: 1px solid black;
  border-radius: 0.2em;
  font-weight: 700;
  color: black;
}

.add-button {
  border-radius: 0.2em;
  padding-left: 5em;
  padding-right: 5em;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1.8em;
}
